<%= link_to 'Back', fbqueries_path %>

<% if @query %>
  <h5><%= @query %></h5>
  <hr>
<% end %>

<% if @result && !@result.empty? %>
  <% @result.each do |r| %>
    <% r.each do |key, value| %>
      <spam><%= key %></spam> = <spam><%= value %></spam><br/>
    <% end %>
    
    <hr/>
  <% end %>
<% end %>